.err{
    border: solid black 1px;
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    color: rgb(152, 119, 183);
}

.num1, .num2 {
    border: solid black 1px;
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    color: rgb(152, 119, 183);
}