@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Comic+Relief:wght@400;700&family=Kablammo&family=Martian+Mono:wght@100..800&family=Poiret+One&family=Prosto+One&family=Raleway:ital@0;1&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(rainbow.gif); */
    background-image: url(cat.gif);
    font-family: 'Kablammo', sans-serif;
}
.bc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    
}

.box-br {
    border: 6px solid #ff0000;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    width: 700px;
    background: rgba(105, 0, 0, 0.3);
}

.pose {
    margin-bottom: 20px;
}

p {
    color: white;
    font-size: 20px;
    margin: 10px 0;
}

input {
    width: 150px;
    padding: 12px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}

.btnRez {
    padding: 15px 30px;
    margin: 20px;
    background: red;
    color: white;
    font-weight: bold;
    
}

.btnClear{
    background: red;
    color: white;
}

.rezult {
    color: white;
    margin-top: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 50px;
    background: rgb(255, 255, 255, 0.2);
    font-size: 30px;
}